@charset "utf-8";
/* Assignment 2 | COMP1073 Client-Side JavaScript */
/*
Jason Gomez 200587201
Daniel Perusse 20055190
Sebastian Bruce 200561191
*/

html {
    border: 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(185, 229, 244);
}

body {
    padding-bottom: 200px;
}

h1 {
    text-align: center;
}

ul img:not(.selected) {
    filter: grayscale(.8);
}

section {
    display: flex;
    justify-content: space-evenly;
}

figure {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    
}

ul {
    margin: 0;
}

figcaption {
    margin-top: -10px;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 0 0 10px 50px;
    min-height: 50px;
    padding-top: 12px;
    box-shadow: 10px 7px 5px rgb(120, 212, 242);
}

ul img {
    margin-bottom: 20px;
}

ul img:first-child {
    border-radius: 5px 50px 0 0;
}

ul img:nth-child(9) {
    border-radius: 0 0 50px 5px;
}

figure img {
    border-radius: 50px 10px 0 0;
    box-shadow: 10px 0 5px -2px rgb(120, 212, 242);
}